# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\_DEV-2021_piway\piway.cloud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
